footer{
    background-color: #3c48f5;
    color: #ffffff;
}
.pie{
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
}
.pie div{
    width: calc(25% - 10px);
    padding: 5px;
}
.pie h1{
    font-size: 30px;
}
.pie label{
    font-size: 18px;
}
.pie label:hover{
    font-size: 20px;
}
/*Turing inteligencia Artificial*/
.turing-ia a{
    text-decoration: none;
    color: #ffffff;
}

/*Mapa del sitio*/
.mapa-sitio label:hover{
    cursor: pointer;
}
.nuestros-servicios label:hover{
    cursor: pointer;
}
.suscribir{
    display: flex;
}
.email-pie{
    width: auto;
}
.btn-pie{
    width: auto;
    font-size: 15px;
}
.redes-pie{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
#aviso-priv:hover{
    cursor: pointer;
    color: #b6bbf8;
}
.copyright{
    width: 100%;
    height: 5vh;
    text-align: center;
}