body{
    margin: 0;
    padding: 0;
    color: #ffffff;
    @import url('https://fonts.googleapis.com/css2? familia= Roboto:ital,peso@0,400;0,700;1,300 & display=swap');
    font-family: 'Roboto', sans-serif;
}

label{
    font-size: 16px;
}
.fuente-negrita{
    color: #000000;
}
.fuente-azul{
    color: #3c48f5;
    font-size: 30px;
}
.tamanio-28{
    font-size: 28px;
}

.contenedor{
    display: flex;
    width: 90%;
    margin: 1% 5%;
}
.contenedor-33{
    width: 33.3%;
}

.contraste{
    background-color: #ced2fd;
    width: 100%;
}

.btn-azul{
    width: 30%;
    height: 30px;
    background-color: #3c48f5;
    font-size: 18px;
    color: #ffffff;
    border: none;
  }
  .btn-azul:hover{
    transition: all 0.8s ease;
    background-color: #ffffff;
    color: #3c48f5;
    border: #3c48f5 solid 2px;
    cursor: pointer;
  }
  

/*diseño imagen whatsapp*/
.whatsapp{
    position:fixed;
    right:15px;
    bottom:0;
}
.whatsapp img{
    width: 50px;
}
.whatsapp img:hover{
    width: 60px;
}

/*imagenes datos*/
.datos1{
    background-image: url("../img/datos1.png");
    background-repeat: no-repeat;
}
.datos2{
    background-image: url("../img/datos.webp");
    
}


/* Apartado - Tecnoñogoas que utilizamos*/
.tec{
    flex-wrap: wrap;
}
.tecnologias{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tecnologias img{
    width: 20%;
    margin-bottom: 25px;
}

.texto-primero{
    flex-direction: row-reverse;

}
/*Lo que ofrecemos*/

.contenedor-img-info{
    width: 100%;
    display: flex;
    margin: 8px 0;
    border-top: 2px solid #757eff;
    padding-top: 5px;

}

.contenedor-img{
    width: 40%;
}

.contenedor-info{
    width: 50%;
    margin-left: 5%;
}
.contenedor-info p{
    font-size: 25px;
}
