body{
    
    margin: 0;
    padding: 0;
    color: #ffffff;
    @import url('https://fonts.googleapis.com/css2? familia= Roboto:ital,peso@0,400;0,700;1,300 & display=swap');
    font-family: 'Roboto', sans-serif;
}


.contenedor{
    display: flex;
    width: 90%;
    margin: 1% 5%;
}

/*diseño imagen whatsapp*/
.whatsapp{
    position:fixed;
    right:15px;
    bottom:0;
}
.whatsapp img{
    width: 50px;
}
.whatsapp img:hover{
    width: 60px;
}